*{
    margin: 0;
    padding: 0;

}


.bg-sec{
    background-color:rgb(239, 238, 238);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat',sans-serif;
}
p{
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
    color: #6c757d;
}


  

.r-p{
    padding-top: 80px;
    padding-bottom: 80px;
}




/* CSS styles contained in css/style.css */


nav .navbar-brand{
    font-size: 30px;
    color: #fff;
    
    
}

nav.r-nav{
    background: transparent !important; /* add !important to override Bootstrap styles */
    padding: 10px 0;
    transition: .5s all;
}

nav .navbar-nav li a{
    color: rgba(255,255,255,0.8) !important;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

nav .navbar-nav li{
    margin-left: 15px;
}

nav.r-nav.stickyadd{
    background: #fff !important;
    padding: 15px 0;
    box-shadow: 1 1px 8px 3px rgba(0, 0, 0,0.05);
    transition: .5s all ease-in-out;
}


nav.stickyadd .navbar-brand{
  
  font-size: 40px;
  transition: .5s all;
  color: #000 !important;
  
}

nav.stickyadd .navbar-nav .nav-link{
    color: #000 !important;
}




/* .navbar .hamburger{
    color: #fff;
}
nav.stickyadd .hamburger{
    color: #000;
} */

/* Header Section */
header{
    height: 100vh;
    width: 100%;
    background: #000;
}

header img{
    border-radius: 140px;
    /* border: 3px solid #ff3b18ef; */
   
}

.header-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-box{
    max-width: 700px;
    color: #fff;
}
.content-box h4{
    font-size: 30px;
}
.content-box h1{
    font-size: 52px;
}

.content-box a{
    color: #fff;
    background: #ff3b18ef;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 25px;
}

.card{
    height: 13rem;
    width: 16rem;
    border:2px solid rgb(170, 239, 170);
}

.content-box a:hover{
    /* color: #000; */
    color:#ff3b18ef ;
    background: #fff;
    transition: 0.5s all;
    font-weight: bold;
}

/* skills section */
 .exp-class .progress{
    height: 10px;
    border-radius: 20px;
    font-size: 10px;
 }
 .progress-bar{
    background-color:#ff3b18ef  !important;
 }

 .exp-class label{
    font-size: 14px;
    margin: 10px;
    font-weight: bold;
 }
 .r-icon img{
    height: 50px;
    width: 50px;
 }
 .r-icon a{
    text-decoration: none;
 }



@media (max-width: 768px) {
  .contact .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact .col-md-3 {
    width: 50%;
  }

 
 
  nav .navbar-nav li a{
    color: rgba(255,255,255,0.8) !important;
    font-size: 8px;
    letter-spacing: 0;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    margin-left: 0%;
}
.navbar-brand {
    display: none;
    height: 0;
    padding: 0;
    margin: 0;
}

.card{
    margin-top: 4rem;
    height: 14rem;
    width: 22rem;
    border:2px solid rgb(170, 239, 170);
}

}


html,body{
    overflow-x: hidden;
   
}

